@model DoktorList_Id


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Doktorlar Listesi</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Doktor" asp-action="DoktorEkle" asp-route-id="Id" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Doktor Ekle
            </a>
        </div>
    </div>
</div>
<form method="post">
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr class="bg-body-secondary">
            <th>
                Id
            </th>
            <th>
                Tc
            </th>
            <th>
                Adi
            </th>
            <th>
                Soyad
            </th>
             <th>
                Cinsyet
            </th>
            <th>
                Telefon Numarası
            </th>
            <th>
                Email
            </th>
            <th>
                Bölüm İd
            </th>
            <th>Çalışma Saatları</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.doktorlar)
        {
            <tr>
                <td>
                    @obj.DoktorId
                </td>
                <td>
                    @obj.Tc
                </td>
                <td>
                    @obj.Doktor_Adi
                </td>
                <td>
                    @obj.Doktor_Soyad
                </td>
                    <td>
                        @obj.Cinsyet
                    </td>
                <td>
                    @obj.TelefonNumarasi
                </td>
                <td>
                    @obj.Email
                </td>
                <td>
                    @obj.poliklinikBolum_Id
                </td>
                <td>
                    <div class=" btn-group " role="group">
                            <button class="btn btn-info mx-2" data-id="@obj.DoktorId" onclick="handleButtonClick(this)">
                            <i class="bi bi-clock"></i> &nbsp; İncele
                        </button>
                    </div>
                </td>
                <td>
                    <div class=" btn-group " role="group">
                        <a asp-controller="Doktor" asp-action="DoktorGuncel" asp-route-id="@obj.DoktorId" class="btn btn-warning mx-2"><i class="bi bi-pencil-square"></i> &nbsp; Güncel</a>
                    </div>
                </td>
                <td>
                    <div class=" btn-group " role="group">
                        <a asp-controller="Doktor" asp-action="DoktorSilme" asp-route-id="@obj.DoktorId" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>&nbsp; Sil</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>

<div class="CalismaSaati mt-6"></div>

@section scripts{
   <script>
        function handleButtonClick(button) {
            event.preventDefault();
            const CalismaListecontainer = document.querySelector(".CalismaSaati");
            const doktorId = button.getAttribute("data-id");
            $.ajax({
                type: "GET",
                url: "/Doktor/jsonData",
                data: { DoktorId: doktorId },
                success: function (detailes) {
                    console.log(detailes);
                    Displaydetailes(detailes, CalismaListecontainer);
                },
                error: function (error) {
                    alert("Hata");
                }
            });
        }

       function Displaydetailes(data, CalismaListecontainer) {
           console.log(data);
           const gunlar = ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"]
           let html = `<table class="table table-bordered table-striped" style="width:100%">
                       <thead>
                           <tr class="bg-body-secondary">
                           <th>Doktor Id</th>
                               <th>Gün</th>
                               <th>Başlangıç Saati</th>
                               <th>Bitiş Saati</th>
                               <th></th>
                               <th></th>
                               <th>
       
                               </th>
                           </tr>
                       </thead>
                       <tbody>`;

            data.forEach(item => {
                console.log(item);
                html += `<tr>
                    <td>${item.doktorId}</th>
                    <td>${gunlar[item.gun]}</td>
                    <td>${item.baslangicSaati}</td>
                    <td>${item.bitisSaati}</td>
                    <td>
                        <a href="/CalismaSaati/CalismaGuncel/${item.id}" class="btn btn-warning mx-2"">
                            <i class="bi bi-pencil-square"></i> &nbsp; Guncel
                        </a>
                    </td>
                    <td>
                        <a href="/CalismaSaati/CalismaSil/${item.id}"  class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> &nbsp; Sil
                        </a>
                    </td>
                </tr>`;
            });

            html += `</tbody></table>`;

            CalismaListecontainer.innerHTML = "";
            CalismaListecontainer.insertAdjacentHTML("afterbegin", html);

        }
        
   </script>
}

@* <div class="row pt-4">
    <div class="col-6">
    </div>
    <div class="col-6 text-end">
        <a asp-controller="CalismaSaati" asp-action="CalismaEkle" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Ekle
        </a>
    </div>
</div> *@
