@model CalismaVePoliklinik

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Randevu Al</h4>
            </div>
            <!-- ./card-header -->
            <div class="card-body p-0">
                <table class="table table-hover">
                    <tbody>
                        @for (int i = 0; i < Model.CalismaSaati.DayOfWeeks.Count; i++)
                        {
                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td>
                                    <i class="bi bi-chevron-right"></i>
                                    @Model.CalismaSaati.DayOfWeeks[i]
                                </td>
                            </tr>
                            <tr class="expandable-body">
                                <td>
                                    <div class="p-0">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr data-widget="expandable-table" aria-expanded="false">
                                                    <td>
                                                        <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                                        @for (int count = 0, j = 2 * i; count < 2; count++, j++)
                                                        {
                                                            <button class="btn btn-info onay-button" data-toggle="modal" data-target="#confirmModal">@Model.CalismaSaati.RandevuSaatlari[j]</button>

                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<!-- Confirmation Modal -->
<form method="post" action="/Randevu/RandevuOnay">
    <div class="modal fade"
         id="confirmModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td width="25%">Randevu Zamanı</td>
                                <td>@Model.CalismaSaati.Gun</td>
                            </tr>
                            <tr>
                                <td width="25%">Hakim</td>
                                <td>@Model.Doktor.Doktor_Adi @Model.Doktor.Doktor_Soyad</td>
                            </tr>
                            <tr>
                                <td width="25%">Randevu Türü</td>
                                <td class="text-danger"> Muayene</td>

                            </tr>
                            <tr>
                                <td width="25%">Hastane</td>
                                <td>Saü Hastanesi</td>
                            </tr>
                            <tr>
                                <td width="25%">Poliklinik Adı</td>
                                <td class="font-weight-bold">@Model.Poliklinik.Bolum_Adi</td>
                            </tr>
                            <tr>
                                <td width="25%">Randevu Sahibi</td>
                                <td>@Model.Kullanci.Kullanci_Adi @Model.Kullanci.Kullanci_Soyad</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="RandevId" value="@Model.Id" />
                    <button type="submit" class="btn btn-info">Onay</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}




