@model List<Kullanci>
@{
    ViewData["Title"] = "Index";
    var kullancilar = (from x in Model orderby x.KullaniciId select x).ToList();
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Hastalar Listesi</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Kullanci" asp-action="KullanciEkleme" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Hasta Ekle
            </a>
        </div>
    </div>
</div>
<br />

<form method="post" asp-controller="Kullanci" asp-action="HastaAra" class="d-flex mb-2">
    <input class="form-control me-sm-2" type="search" name="Tc" placeholder="Search">
    <button  class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr class="bg-body-secondary">
            <th>
                Tc
            </th>
            <th>
                Adi
            </th>
            <th>
                Soyad
            </th>
            <th>
                Telefon Numarasi
            </th>
            <th>
                Cinsel
            </th>
            <th>
                Email
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in kullancilar)
        {
            <tr>
                <td >
                    @obj.Tc
                </td>
                <td >
                    @obj.Kullanci_Adi
                </td>
                <td >
                    @obj.Kullanci_Soyad
                </td>
                <td >
                    @obj.TelefonNumarasi
                </td>
                <td>
                    @obj.Cinsel
                </td>
                <td>
                    @obj.Email
                </td>
                <td>
                    <div class="w-75 btn-group " role="group">
                        <a asp-controller="Kullanci" asp-action="KullanciGuncel" asp-route-id="@obj.KullaniciId" class="btn btn-warning mx-2"><i class="bi bi-pencil-square"></i> &nbsp; Güncel</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group " role="group">
                        <a asp-controller="Kullanci" asp-action="KullanciSilme" asp-route-id="@obj.KullaniciId" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>&nbsp; Sil</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

